<div>
  <small>
  <div> <strong> <%= link_to comment.user.username, comment.user %> </strong> </div>
  <div> <%= comment.content %> </div>
  <div> <small> <%= comment.time %> </small> </div>
  </small>
</div>