<div class="user-preview">
  <%= link_to user_path(user) do %>
    <div class="name">
      <strong> <%= user.username %> </strong>
    </div>
  <% end %>
  <div class="mutual-friend-count">
    <%= user.mutual_friends(current_user).count %>
  </div>
</div>