<div>
  <div name='content'>
    <p> <%= post.content %> <p>
    <% post.attachments.each do |attachment| %>
      <p> 
        <div> <%= render('shared_post', post: attachment.attachable) if attachment.attachment_type ==  'Post' %> <div>
      </p>
    <% end%>
  </div>

  <div> <%= link_to post.author.username, user_path(post.author) %> </div>
  <div> <small> <%= post.time %> </small> </div>
</div>