nav#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 25px;
  background-color: #d1cfe2;
  padding: 5px;

  >div.brand {
    a {
      text-decoration: none;
    }

    a:hover {
      background: none;
    }
  }

  >div.menu{
    span {
      a.nav-link{
        text-decoration: none;
      }

      a.nav-link:hover{
        background: none;
        text-decoration: none
      }
    }

  }
}